@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111111;
    --brand-navy: #2f4065;
    --brand-pink: #fb7a90;
    --brand-peach: #fac29f;
    --brand-coral: #f79492;
    --typography-muted: #666666;
    --surface-white: #ffffff;
    --surface-offWhite: #fcf1f1;
    --surface-light: #fae6e6;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply font-sans antialiased selection:bg-brand-pink selection:text-white;
  }

  /* Typography Base Overrides */
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight font-sans;
  }
}

